html {
    color: rgb(1, 29, 54);
    background:(C:\Users\ALUNOS\Downloads.png);
    background-size: 80%;
    background-repeat: no-repeat;
    background-position-y: 10%;
    background-position-x: center;
    font-style: bold;
    background-size: cover;
}

title. {
    top: 300;
    left: 250;
}
